@model Fitbod.Models.User

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div>
    <table>
        <tr>
            <td>
                <asp:TextBox ID="username"></asp:TextBox>
            </td>
            <td>
                <asp:TextBox ID="password"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Button ID="submit"></asp:Button>
            </td>
        </tr>
    </table>
</div>