@{
    ViewData["Title"] = "Kontakt os side";
}

<div class="header homepagecustomheader">
    <img src="/img/RunningManHomepage.jpg" alt="løbemand" style="width:100%;" />
</div>


<div class="row">
    <div class="column side" style="text-align: center;">
        <h3>Kontakt Info.</h3>
        <p>Telefon nummer: <span class="fw-bold">50 60 61 47</span></p>
        <p>Telefon tider kan variere</p>
        <dl>
            <dt>Mandag:</dt>
            <dd>05:30 - 22:00</dd>
            <dt>Tirsdag:</dt>
            <dd>05:30 - 22:00</dd>
            <dt>Onsdag:</dt>
            <dd>05:30 - 22:00</dd>
            <dt>Torsdag:</dt>
            <dd>05:30 - 22:00</dd>
            <dt>Fredag:</dt>
            <dd>05:30 - 22:00</dd>
            <dt>Lørdag:</dt>
            <dd>09:00 - 16:00</dd>
            <dt>Søndag:</dt>
            <dd>Lukket for telefon</dd>
        </dl>
    </div>

    <div class="column middle" style="text-align: center;">
        <h1 style="margin-bottom:5%;">Fitbod.dk</h1>
        <h2 style="margin-bottom:5%;">For at kontake Os</h2>
        <p>kan man enten ringe eller møde fysisk op på vores lokation</p>
        <p>Vi glæder os til og høre fra dig</p>
        <p>Hilsen <span class="fw-bold">Fitbod.dk</span> teamet!</p>
    </div>

    <div class="column side" style="text-align: center;">
        <h3 style="text-align: center;">Lokation</h3>
        <p>Adresse: <span class="fw-bold">Banegårdspladsen 3, 5</span></p>
        <p>Postnr/By: <span class="fw-bold">2750 Ballerup</span></p>
        <dl>
            <dt>Mandag:</dt>
            <dd>05:30 - 22:00</dd>
            <dt>Tirsdag:</dt>
            <dd>05:30 - 22:00</dd>
            <dt>Onsdag:</dt>
            <dd>05:30 - 22:00</dd>
            <dt>Torsdag:</dt>
            <dd>05:30 - 22:00</dd>
            <dt>Fredag:</dt>
            <dd>05:30 - 22:00</dd>
            <dt>Lørdag:</dt>
            <dd>05:30 - 22:00</dd>
            <dt>Søndag:</dt>
            <dd>05:30 - 22:00</dd>
        </dl>
    </div>
</div>
