@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="header homepagecustomheader">
    <img src="img/RunningManHomepage.jpg" alt="løbemand" style="width:100%;" />
</div>

<div class="row" style="margin-bottom:5%;">
    <div class="column side">

    </div>
    <div class="column middle">
        <h1 style="text-align:center;margin-bottom:5%;">Velkommen til Fitbod.dk</h1>
        <p>Formålet med Fitbod.dk var at udvikle en platform der er let og intuitivt at bruge, samtidigt med at være et værktøj der kan hjælpe folk med at få en sundere hverdag. Vi håber det giver en mulighed for let at kunne finde metoder hvorpå man kan træne, samt sunde og gode opskrifter i vores ugentlige madplan.</p>
        <p>Vi håber at vi kan motivere dig til og få et sundere liv. Samtidig håber vi også og se dig til nogle af vores fysiske holdtrænings oplevelser</p>
    </div>
    <div class="column side">
    </div>
</div>

<div class="row">
    <a class="column side text-black" href="/ExercisePlans/Index">
    <div>
        <h3 style="text-align: center;">Træningsplan</h3>
        <img class="homepagepictures" src="img/ExercisesManWomanHomepage1.jpg" alt="træningsplan" />
    </div>
    </a>

    <div class="column middle">
        <h2 style="text-align:center;">Vi tilbyder</h2>
        <p>At du kan lave din helt egen træningsplan, hvor du får mulighed for at vælge øvelser der rammer en bestemt muskelgruppe, samtidig kan du vælge hvilken dag du syntes øvelserne skal foregå. Også samle det hele i en træningsplan</p>
        <p>Derudover tilbyder vi også holdtræning i vores træningscenter, der har vi vel udrustede trænere klar til og give dig en fed oplevelse og en effektiv træning. Alting er bare nemmere når man har andre og gøre det med, så meld dig til enten her på siden eller nede i træningscenteret vi glæder os uanset hvad til og se dig!</p>
    </div>

    <a class="column side text-black" href="/TrainingClasses/Index">
    <div>
        <h3 style="text-align: center;">Holdtræning</h3>
        <img class="homepagepictures" src="img/TeamExercisesHomepage.jpg" alt="holdtræning" />
    </div>
    </a>
</div>

<br />
<br />
<br />

<div class="row">
    <a class="column side text-black" href="/WeekDay/Index">
    <div>
        <h3 style="text-align: center;">Ugentlige Madplan</h3>
        <img class="homepagepictures" src="img/DietWomanHomepage.jpg" alt="ugentlig madplan" />
    </div>
    </a>

    <div class="column middle">
        <h2 style="text-align:center;">Vi tilbyder også</h2>
        <p>Vi giver dig også mulighed for at følge en ugenligt kostplan som vi holder opdateret på et ugenligt basis. Som er sund og næringsfuld og består af spændene retter som er lette og lave. Så man forhåbenligt kan finde tid til træning i hverdagen</p>
        <p>Har du nogle spørgsmål har du også mulighed for at kontake os enten fysisk nede i vores træningscenter, eller via telefon i vores telefon åbningstider</p>
    </div>

    <a class="column side text-black" href="/Home/ContactUs">
    <div>
        <h3 style="text-align: center;">Kontakt Os</h3>
        <img class="homepagepictures" src="img/FitnessDeskHomepage.png" alt="kontakt os" />
    </div>
    </a>
</div>


@*<div class="footer">
    <p>Footer</p>
</div>*@
