@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="header homepagecustomheader">
    <img src="img/RunningManHomepage.jpg" alt="løbemand" style="width:100%;" />
</div>


<div class="row">
    <div class="column side">
        <h3 style="text-align: center;">Træningsplan</h3>
        <img class="homepagepictures" src="img/ExercisesManWomanHomepage1.jpg" alt="træningsplan" />
    </div>

    <div class="column middle">
        <h1 style="text-align:center;margin-bottom:5%;">Velkommen til Fitbod</h1>
        <p>Formålet med Fitbod.dk var at udvikle en platform der er let og intuitivt at bruge, samtidigt med at være et værktøj der kan hjælpe folk med at få en sundere hverdag. Vi håber det giver en mulighed for let at kunne finde metoder hvorpå man kan træne, samt sunde og gode opskrifter i vores ugentlige madplan.</p>
        <p>Vi håber at vi kan motivere dig til og få et sundere liv. Samtidig håber vi også og se dig til nogle af vores fysiske holdtrænings oplevelser</p>
    </div>

    <div class="column side">
        <h3 style="text-align: center;">Holdtræning</h3>
        <img class="homepagepictures" src="img/TeamExercisesHomepage.jpg" alt="holdtræning" />
    </div>
</div>

<br />
<br />
<br />

<div class="row">
    <div class="column side">
        <h3 style="text-align: center;">Ugentlige Madplan</h3>
        <img class="homepagepictures" src="img/DietWomanHomepage.jpg" alt="ugentlig madplan" />
    </div>

    <div class="column middle">
        <h2 style="text-align:center;">Main Content</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
    </div>

    <div class="column side">
        <h3 style="text-align: center;">Kontakt Os</h3>
        <img class="homepagepictures" src="img/FitnessDeskHomepage.png" alt="kontakt os" />
    </div>
</div>


@*<div class="footer">
    <p>Footer</p>
</div>*@
