@model Fitbod.Models.TeamSignUp

@{
    ViewData["Title"] = "Create";
}

<h1>Tilmelding til hold</h1>

<h4>Er du fuldstændig sikker på du vil tilmelde dig dette hold?</h4>
<hr />
<div>
    <p>Hvis ja tryk på knappen nedenfor</p>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="TrainingClasses" asp-action="SignupCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Ja" class="btn btn-success btn-sm" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a class="btn btn-primary btn-sm" asp-action="Index">Fortryd</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
