@model Fitbod.Models.TeamSignUp

@{
    ViewData["Title"] = "Create";
}

<h1>Tilmelding til hold</h1>

<h4>Er du fuldstændig sikker på du vil tilmelde dig dette hold?</h4>
<hr />
<div>
    <p>Hvis ja tryk på knappen nedenfor</>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="TrainingClassSignup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Ja" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Fortryd</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
