@model Fitbod.Models.TeamSignUp

@{
    ViewData["Title"] = "Delete";
}

<h1>Afmeld</h1>

<h3>Er du sikker på at du vil afmelde dig?</h3>
<div>
    <hr />
    <dl class="row">
    </dl>  
    <form asp-controller="TrainingClasses" asp-action="SignupDelete">
        <input type="hidden" asp-for="TeamSignUpId" />
        <input type="submit" value="Afmeld" class="btn btn-danger btn-sm" /> |
        <a class="btn btn-primary btn-sm" asp-action="Index">Fortryd</a>
    </form>
</div>
