html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 1%;
    margin-bottom: 5%;
}

.homepagecustomheader {
    background-color: #7C809B;
    color: white;
}

.madplancustomheader {
    background-color: #7C809B;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.madplan_img {
    width: 100%;
}

.a_custom1 {
    display: block;
    margin: auto;
    width: 80%;
    color:white;
    background-color: #7C809B;
    text-decoration: none;
    text-align: center;
}

.div_custom{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.homepagepictures {
    width: 100%;
    box-shadow: 5px 5px 10px lightblue;
    margin-bottom: 5%;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

.column {
    float: left;
}

    /* Left and right column */
    .column.side {
        width: 25%;
    }

    /* Middle column */
    .column.middle {
        width: 50%;
    }

.ol_exercise_custom {
    list-style: none;
}

.a_exercise_custom {
    text-decoration: none;
    color: black;
}

.column_custom{
    float: left;
    width: 33%;
    padding: 10px;
    background-color: #1A1423;
    border-style: solid;
    border-width: 5px; 
    border-color: white;
    height: 15rem;
}
.row_custom:after{
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}