@model Fitbod.Models.ExercisePlan

@{
    ViewData["Title"] = "Create";
}

<h1>Opret træningsplan</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Navn</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Gem" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a class="btn btn-primary btn-sm" asp-action="Index">Tilbage til træningsplanoversigt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
