@model Fitbod.Models.ExercisePlan

@{
    ViewData["Title"] = "Delete";
}

<h1>Slet træningsplan</h1>

<h3>Er du sikker på du vil slette denne træningsplan?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Navn");
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ExercisePlanId" />
        <input type="submit" value="Slet" class="btn btn-danger" /> |
        <a asp-action="Index">Tilbage til Planoversigt</a>
    </form>
</div>
