@model IEnumerable<Fitbod.Models.ExercisePlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Dine Planer</h1>

<p>
    <a asp-action="Create">Opret ny plan</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Plan:
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="AddExercise" asp-route-id="@item.ExercisePlanId">Tilføj Øvelse</a>
                <a asp-action="ExercisePlanEntryDetails" asp-route-id="@item.ExercisePlanId">Åben Plan</a> |
                <a asp-action="Delete" asp-route-id="@item.ExercisePlanId">Slet Plan</a>
            </td>
        </tr>
}
    </tbody>
</table>
