@model IEnumerable<Fitbod.Models.WeekDay>
@{
    ViewData["Title"] = "Index";
}
<h1 style="text-align: center">Mad Plan</h1>
<br/>
<div class="header madplancustomheader">
    <img class="madplan_img" src="img/MadplanIndex.jpg" alt="madplan" />
</div>
<br/>
@{
    if (User.IsInRole("Admin"))
    {
        <p style="text-align: center">
            <a class="btn btn-success btn-sm" asp-action="Create">Opdater madplan</a>
        </p>
        <p style="text-align: center">
            <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Dish" asp-action="Index">Retter</a>
        </p>
    }
}
<div class="row_custom">
    @foreach (var item in Model) {
        <div class="column_custom">
            <h2 style="text-align: center; color: white">@Html.DisplayFor(modelItem => item.Day)</h2>
            <a href="@Html.DisplayFor(modelItem => item.Dish.Url)" class="a_custom1 btn btn-primary"><p>@Html.DisplayFor(modelItem => item.Dish.Name)</p></a>
            @{
                if (User.IsInRole("Admin"))
                {
                    <br/>
                    <a class="btn btn-danger div_custom" asp-action="Delete" asp-route-id="@item.WeekDayId">Slet</a>      
                }
            }
        </div>
    }
</div>